{{>admin/header}}

<body class="inner_page widgets">
    <div class="full_container">
        <div class="inner_container">
            <!-- Sidebar  -->
            {{>admin/sidebar}}
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
                <!-- topbar -->
                {{>admin/topbar}}
                <!-- end topbar -->
                <div class="midde_cont">
                    <div class="container-fluid">
                        <div class="row column_title">
                            <div class="col-md-12">
                                <div class="page_title">
                                    <h2>Banners</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- table section -->
                            <div class="col-md-12">
                                <div class="white_shd full margin_bottom_30">
                                    <div class="full graph_head">
                                        <div class="heading1 margin_0">
                                            <h2>New Banner</h2>
                                        </div>
                                    </div>
                                    <div class="table_section padding_infor_info">
                                        <div class="table-responsive-sm">
                                            {{#banner}}
                                            <form action="/admin/banner/edit/{{id}}?_method=put" method="post"
                                                enctype="multipart/form-data">
                                                <div class="mb-3 mt-3">
                                                    <label for="fname" class="form-label">Update Title 1 <span
                                                            class="errormsg" id="errname"></span></label>
                                                    <input type="text" class="form-control" name="title1" id="title"
                                                        value="{{title_1}}">
                                                </div>

                                                <div class="mb-3 mt-3">
                                                    <label>Update Title 2</label>
                                                    <input type="text" class="form-control" name="title2" id="title-2"
                                                        value="{{title_2}}">
                                                </div>

                                                <div class="mb-3 mt-3">
                                                    <label>Update Title 3</label>
                                                    <input type="text" class="form-control" name="title3" id="title-3"
                                                        value="{{title_3}}">
                                                </div>
                                                <div class="mb-3 mt-3">
                                                    <label>Update Title 4</label>
                                                    <input type="text" class="form-control" name="title4" id="title-4"
                                                        value="{{title_4}}">
                                                </div>

                                                {{!-- <div class="mb-3 mt-3">
                                                    <label>Category <span class="errormsg"
                                                            id="errcategory"></span></label>
                                                    <select class="form-control" name="categoryid" id="categoryid"
                                                        onchange="getSubCat(this.value);" required="">
                                                        <option value="">Select Category</option>


                                                        <option value="1">Blog Category 1</option>


                                                        <option value="11">Blog Category 2</option>
                                                    </select>
                                                </div> --}}

                                                {{!-- <div class="mb-3 mt-3">
                                                    <label for="title">Details</label>
                                                    <textarea name="" id="" cols="30" rows="10"
                                                        style="width:100%; padding:10px;resize:none;"></textarea>
                                                </div> --}}

                                                {{!-- <div class="mb-3 mt-3">
                                                    <label for="name" class="form-label">Add Feature <span
                                                            class="errormsg" id="errproductimage"></span></label>
                                                    <input type="file" class="form-control" name="postimage"
                                                        id="postimage">
                                                </div>

                                                <div class="mb-3 mt-3">
                                                    <label for="name" class="form-label">Add Thumbnails <span
                                                            class="errormsg" id="errcatalogue"></span></label>
                                                    <input type="file" class="form-control" name="thumbnails"
                                                        id="thumbnails">
                                                </div> --}}

                                                <div class="mb-3 mt-3">
                                                    <label for="name" class="form-label">Update Banner Image <span
                                                            style="color:green">**upload landscape image for better
                                                            view</span>
                                                        <span class="errormsg" id="errproductimages"></span></label>
                                                    <input type="file" class="form-control" name="updateBannerImage"
                                                        id="postimages">
                                                    <div class="feature-img-wrapper mt-3">
                                                        <img src="/static/user/images/uploaded_images/{{banner_image}}"
                                                            alt="#">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="name" class="form-label d-block">Publish Now <span
                                                            class="errormsg" id="errcatalogue"></span></label>
                                                    <label class="switch">
                                                        <input type="checkbox" name="publishBtn" id="play"
                                                            onclick="switchBtn()" class="" value="0">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>

                                                {{!-- <div class="form-group">
                                                    <input class="form-control form-control-lg" type="date"
                                                        name="postingdate" id="postingdate" required="true">
                                                </div> --}}

                                                <button class="main_bt2" name="btnsave" type="submit">Update</button>
                                            </form>
                                            {{/banner}}
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- table section -->

                        </div>
                    </div>
                    <!-- footer -->
                    {{>admin/footer}}
                </div>
                <!-- end dashboard inner -->
            </div>
        </div>
    </div>


    {{> admin/scripts}}
</body>

</html>